<div *ngIf="posts.length > 0; else noPosts">
    <div *ngFor="let post of posts" class="post-item" (click) = "getPost(post.id)">
      <h3>{{ post.title }}</h3>
      <p>{{ post.content }}</p>
      <div *ngIf="post.fileUrl">

        <img *ngIf="post.fileType?.startsWith('image/')" [src]="post.fileUrl" alt="Imagem">
      
        <video *ngIf="post.fileType?.startsWith('video/')" [src]="post.fileUrl" controls></video>
      
        <audio *ngIf="post.fileType?.startsWith('audio/')" [src]="post.fileUrl" controls></audio>
      
        <a *ngIf="!post.fileType?.startsWith('image/') && !post.fileType?.startsWith('video/') && !post.fileType?.startsWith('audio/')"
           [href]="post.fileUrl" download="{{post.fileName}}">
          Baixar {{post.fileName}}
        </a>
        
      </div>
    </div>
</div>

  
<ng-template #noPosts>
    <p>No Posts found.</p>
</ng-template>
