<div class="container"><!---
    <form (ngSubmit)="addForum()" #forumForm="ngForm">
        <div class="form-group">
            <label for="name">Name:</label>
            <input id="name" name="name" [(ngModel)]="forumData.name" required placeholder="Insert a name">
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" name="description" style="overflow:auto;resize:none" rows="13" cols="80" [(ngModel)]="forumData.description" required placeholder="Set a description"></textarea>
        </div>
        <div class="form-group">
            <label for="image">Banner:</label>
            <input type="file" class="btn btn-default" (change)="onFileSelected($event)" accept="image/png">
        </div>   
        <div class="form-group">
            <label for="topic">Topics:</label>
            <select class="form-control" id="topic" required>
              <option *ngFor="let topic of topics" [value]="topic">{{topic}}</option>
            </select>
        </div> 
    
        <button type="submit" class="btn btn-default">Criar Fórum</button>
    </form>--->
    <mat-card id="forum-form">
      <mat-card-title>New Forum</mat-card-title>
      <form (ngSubmit)="addForum()" #forumForm="ngForm">
        <mat-card-content class="card-form">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Name</mat-label>
            <input matInput id="name" name="name" [(ngModel)]="forumData.name" required placeholder="Insert a name">
          </mat-form-field>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Description</mat-label>
            <textarea matInput id="description" name="description" style="overflow:auto;resize:none" rows="13" cols="80" [(ngModel)]="forumData.description" required placeholder="Set a description"></textarea>
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Topic</mat-label>
            <mat-select id="topic" required>
              <mat-option *ngFor="let topic of topics" [value]="topic">{{topic}}</mat-option>
            </mat-select>
          </mat-form-field>

          <div class="form-group">
            <input class="file-input" type="file" (change)="onFileSelected($event)" accept="image/png" #fileUpload>
            <button type="button" mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
              <mat-icon>attach_file</mat-icon>
            </button>
            <label>{{bannerName}}</label>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit">Create</button>
        </mat-card-actions>
      </form>
    </mat-card>
</div>
