<div *ngIf="postDTO != undefined">
    <mat-card class="post-card">
        <mat-card-title>{{ postDTO.title }}</mat-card-title>
        <mat-card-content>
            <h2>
            {{ postDTO.content }}
            </h2>
        </mat-card-content>
        <div *ngIf="postDTO.fileUrl">
            <mat-card-content class="file-container">
              <img *ngIf="postDTO.fileType?.startsWith('image/')" [src]="postDTO.fileUrl" alt="Imagem">
        
              <video #videoPlayer *ngIf="postDTO.fileType?.startsWith('video/')" [src]="postDTO.fileUrl" controls></video>
        
              <audio *ngIf="postDTO.fileType?.startsWith('audio/')" [src]="postDTO.fileUrl" controls></audio>
  
              <a *ngIf="!postDTO.fileType?.startsWith('image/') && !postDTO.fileType?.startsWith('video/') && !postDTO.fileType?.startsWith('audio/')" [href]="postDTO.fileUrl" download="{{postDTO.fileName}}">
                  Baixar {{postDTO.fileName}}
              </a>
            </mat-card-content>
        </div>
        <div class="action-buttons">
            <mat-card-content>
              <button type="button" mat-mini-fab color="secondary">
                <mat-icon>thumb_up</mat-icon>
              </button>{{postDTO.likes}}
              <button type="button" mat-mini-fab color="secondary">
                <mat-icon>thumb_down</mat-icon>
              </button>{{postDTO.dislikes}}
            </mat-card-content>
        </div>
    </mat-card>
    <mat-card class="comment-session">
        <mat-card-title>Comments: </mat-card-title>
        <mat-form-field style="width: 700px;" appearance="outline" class="full-width">
            <mat-label>Comments</mat-label>
            <textarea (keydown)="addComment($event)" id="comment" matInput [(ngModel)]="commentDTO.data" placeholder="Comment"></textarea>
        </mat-form-field>
        <div *ngIf="postDTO.comments.length > 0">
            <div *ngFor="let comment of postDTO.comments; let i = index">
                <mat-card class="comment-card">
                    <mat-card-content>
                        <p>{{comment.data}}</p>
                    </mat-card-content>
                    <button mat-button (click)="toggleReplySession(i)">
                        {{ replyComment[i] ? 'Cancel' : 'Reply' }}
                    </button>
                    <div *ngIf="replyComment[i]">
                        <mat-form-field style="width: 700px;" appearance="outline" class="full-width">
                            <textarea (keydown)="addCommentTo($event, comment.id)" id="comment" matInput [(ngModel)]="commentDTOto.data" placeholder="Comment"></textarea>
                        </mat-form-field>
                    </div>
                    <button *ngIf="comment.comments.length > 0" mat-button (click)="toggleReplies(i)">
                        {{ showReplies[i] ? 'Hide replies' : 'Show replies' }}
                    </button>
                    <div class="reply-session" *ngIf="showReplies[i] && comment.comments.length > 0">
                        <div *ngFor="let comment2 of comment.comments">
                            <mat-card class="reply-card">
                                <mat-card-content>
                                    <p>{{comment2.data}}</p>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </mat-card>

    <!---
    <h3>{{ postDTO.title }}</h3>
    <p>{{ postDTO.content }}</p>
    <div *ngIf="postDTO.fileUrl">
        <img *ngIf="postDTO.fileType?.startsWith('image/')" [src]="postDTO.fileUrl"  alt="Imagem">
            
        <video *ngIf="postDTO.fileType?.startsWith('video/')" [src]="postDTO.fileUrl" controls></video>
            
        <audio *ngIf="postDTO.fileType?.startsWith('audio/')" [src]="postDTO.fileUrl" controls></audio>
            
        <a *ngIf="!postDTO.fileType?.startsWith('image/') && !postDTO.fileType?.startsWith('video/') && !postDTO.fileType?.startsWith('audio/')"
            [href]="postDTO.fileUrl" download="{{postDTO.fileName}}">
            Baixar {{postDTO.fileName}}
        </a>
    </div>
    <div>
        <textarea id="ctt" name="ctt" [(ngModel)]="comment.data" required placeholder="Comment"></textarea>
    </div>--->
</div>
